# Ignore all files in the data directory
data/*

# Do not ignore .gitkeep files
!data/.gitkeep

# Ignore all files in the results directory
results/*

# Do not ignore .gitkeep files
!results/.gitkeep

# Ignore the build directory
build/
